<div id="all">
    <div style="position:absolute; top: 10px; left: 50px; color:white; font-size: 2.8vmin">
        <h1>
            @StudentPlatform
        </h1>
        <h4>
            Platforma catalog online
        </h4>
    </div>

    <img id="logo" src="./assets/poli4.jpg" alt="logo">


    <form id="manualEnroll">
        <div id="username_text_box">
            <div class="field">
                Utilizator<span class="mandatory">*</span>
            </div>
            <input type="text" id="lname" name="Utilizator" placeholder="Utilizator" required>
        </div>


        <div id="drop_down">
            <!--    <form id = "manualEnroll" (ngSubmit)="manualEnroll()" #myForm="ngForm">-->
            <div class="field">
                Actiune<span class="mandatory">*</span>
            </div>

            <select title="actiune" id="actiune" name="actiune" required>
                <option value="actiune1">Inrolare</option>
                <option value="actiune2">Inregistrare</option>
                <option value="actiune3">Aprobare nota</option>
            </select>

            <div class="field">
                <div class="fieldname">Materie</div>
            </div>

            <select name="strings">
                <option value="">-- Select a string --</option>
                <option *ngFor="let str of strings" [value]="str">{{str}}</option>
            </select>

<!--            <select title="materie" id="Materie" name="Materie">-->
<!--                <option value="var0">&#45;&#45;Alege&#45;&#45;</option>-->
<!--                <option value="var1">Proiectare pe microprocesoare</option>-->
<!--                <option value="var2">Sisteme de operare</option>-->
<!--                <option value="var3">Baze de date</option>-->
<!--                <option value="var4">Arhitectura sistemelor de calcul</option>-->
<!--                <option value="var5">Ingineria programelor</option>-->
<!--            </select>-->

            <div style="text-align: center;">
                <!--            <button type="submit" (click)="manualEnroll()" id = "button1">Salveaza</button>-->
                <button type="submit" id="button1">Salveaza</button>
            </div>
        </div>
    </form>


    <div id="upload">
        <div class="addfile">
            <form method="POST" action="http://localhost:8082/user/upload-customers-data" enctype="multipart/form-data"
                  id="fileEnroll">
                <label for="file">Selectați un fișier:</label><br>
                <input type="file" id="file" name="file" accept=".xlsx" #fileInput><br><br>
                <!--            <button type="submit" (click)="uploadCustomersData(fileInput)" id="button2">Trimite</button>-->
                <button type="submit" id="button2">Trimite</button>
            </form>
        </div>

        <div id="tooltip">
            &#9432; Incarcare fisier inrolare studenti si profesori
        </div>
    </div>
</div>
