<!-- <div class="button">
    <button routerLink="/student" type="date_personale">Date personale</button>
    <button type="catalog" style="position:relative;">Vizualizare Catalog</button>
    <button type="logout" style="position:relative;">Log Out</button>
</div> -->


<div>
    <form method="POST" action="http://localhost:8082/logout" enctype="multipart/form-data" id="logoutForm">
        <div class="topnav">
            <a class="active" href="./student">Date personale</a>
            <a class="active" href="./grades">Vizualizare catalog</a>
            <!-- <a href="#contact">Anunturi</a> -->
            <a href="./">Log Out</a>
        </div>
    </form>

</div>


<div style="position:absolute; top: 2%; left: 7%; color:white; font-size: 2.5vmin">
    <h1>
        @StudentPlatform
    </h1>
    <h3>
        Platforma catalog online<br>
        <!-- <div>Student {{ name }}</div> -->
        <div>Student</div>
    </h3>
    <h2>
        Catalog:
    </h2>
</div>


<div class="image">
    <img id="image" src="./assets/poli_student.jpg">
</div>



<img id="image_stud" src="./assets/student_profile.png">



