<div>
    <form method="POST" action="http://localhost:8082/user/resetPassword">
     <b> <label for="fname" style="color:white; font-size:18px;">Introduceți username:</label><br></b>
      <input type="text" id="fname" name="username" >
    <b> <label for="fname" style="color:white; font-size:18px;">Introduceți E-Mail:</label><br></b>
      <input type="email" id="lname" name="email" >

      <button class="btn">Trimite</button>
    </form>y

  </div>

  <img id="logo" src="/assets/poli4.png">
