<div style="position:absolute; top: 2%; left: 4%; color:white; font-size: 2.5vmin">
    <h1>
        @StudentPlatform
    </h1>
    <h4>
        Platforma catalog online
    </h4>
</div>

<div style="position:absolute; top: 15%; left: 4%; color:white; font-size: 3.5vmin">
    <h4>
        [NUME] [PRENUME] profesor
    </h4>
</div>


<!-- <img id="logo" src="./assets/poli5.png"> -->

<div class="container_pic">
    <img src="./assets/poli5.png">
    <a href="./">Log Out</a>
</div>


<div id="student_text_box">
    <form [formGroup]="form" (ngSubmit)="addGrade()">
        <div class="field">
            Nume<span class="mandatory">*</span>
        </div>
        <input type="text" placeholder="Popescu" required formControlName="lastName">

        <div class="field">
            Prenume<span class="mandatory">*</span>
        </div>
        <input type="text" placeholder="Ion" required formControlName="firstName">

        <div class="field">
            Materie<span class="mandatory">*</span>
        </div>

        <select name="strings" formControlName="materie">
            <option value="" disabled selected>-- Alegeți o materie --</option>
            <option *ngFor="let str of subjects" [value]="str">{{str}}</option>
        </select>

        <div class="field">
            Nota<span class="mandatory">*</span>
        </div>
        <input type="number" min="1" max="10" placeholder="10" required formControlName="grade">

        <button type="submit" id="Buton-salvare-nota">Salveaza nota</button>
    </form>
</div>

<p>Contact: <a href="url">secretariat [ at ] acs.pub.ro</a></p>

<div class="selectBox" (click)=showCheckboxes()>
    <button id="Buton-lista">Ascunde lista studenti</button>
</div>

<form>
    <div style="position:absolute; top: 21%; left: 57%; color:rgb(76, 74, 74); font-size: 2.5vmin">
        <h2>
            Notare multipla:
        </h2>
    </div>

    <input type="text" id="textbox-nota" name="fname" placeholder="10"><br>

    <input type="text" id="textbox-materie" name="fname" placeholder="Numele materiei"><br>

    <div id="checkboxes">
<!--        <option value="" disabled selected>&#45;&#45; Alegeți o materie &#45;&#45;</option>-->
        <option *ngFor="let str of students" [value]="str">{{str}}</option>
    </div>

    <button type="submit" id="Buton-salvare">Salveaza note</button>
</form>
