<!-- <div class="button">
    <button routerLink="/student" type="date_personale">Date personale</button>
    <button type="catalog" style="position:relative;">Vizualizare Catalog</button>
    <button type="logout" style="position:relative;">Log Out</button>
</div> -->


<div>
    <form method="POST" action="http://localhost:8082/logout" enctype="multipart/form-data" id="logoutForm">
        <div class="topnav">
            <a class="active" href="./student">Date personale</a>
            <a href="./">Vizualizare catalog</a>
            <!-- <a href="#contact">Anunturi</a> -->
            <a href="./">Log Out</a>
        </div>
    </form>

</div>


<div style="position:absolute; top: 30px; left: 50px; color:white; font-size: 2.5vmin">
    <h1>
        @StudentPlatform
    </h1>
    <h4>
        Platforma catalog online
    </h4>
    <h3>
        Date personale
    </h3>
</div>


<div class="image">
    <img id="image" src="./assets/poli_student.jpg">
</div>


<div class="warning">
    &#9432; Pentru a încărca modificările, nu uitați să salvați!
</div>


<div class="container">
    <form method="POST" action="http://localhost:8082/user/putData" enctype="multipart/form-data" id="loginForm">
        <table>
            <tr>
                <td align="right">CNP:</td>
                <td align="left"><input type="text" name="cnp" (keypress)="validateNo($event)" maxlength="13"></td>
            </tr>
            <tr>
                <td align="right">Număr de telefon:</td>
                <td align="left"><input type="text" name="nr_tlf" (keypress)="validateNo($event)" maxlength="10"></td>
            </tr>
            <tr>
                <td align="right">Data nașterii:</td>
                <td align="left"><input type="text" name="birth" (keypress)="validateDate($event)" maxlength="11"
                                        placeholder="DD/MM/YYYY"></td>
            </tr>
            <tr>
                <td align="right">IBAN:</td>
                <td align="left"><input type="text" name="iban" maxlength="34"></td>
            </tr>
            <tr>
                <td align="right">Studii anterioare:</td>
                <td align="left"><input type="text" name="studies"></td>
            </tr>
            <tr>
                <td align="right">Cămin:</td>
                <td align="left"><input type="text" name="dorm"></td>
            </tr>
            <tr>
                <td align="right">Cameră</td>
                <td align="left"><input type="text" name="room" (keypress)="validateNo($event)"></td>
            </tr>
        </table>
    </form>

</div>


<img id="image_stud" src="./assets/student_profile.png">

