<!-- <div class="button">
    <button routerLink="/student" type="date_personale">Date personale</button>
    <button type="catalog" style="position:relative;">Vizualizare Catalog</button>
    <button type="logout" style="position:relative;">Log Out</button>
</div> -->

<div class="topnav">
  <a class="active" href="./student">Date personale</a>
  <a href="./">Vizualizare catalog</a>
  <!-- <a href="#contact">Anunturi</a> -->
  <a href="./">Log Out</a>
</div>


<div style="position:absolute; top: 30px; left: 50px; color:white; font-size: 2.5vmin">
    <h1>
        @StudentPlatform
    </h1>
    <h4>
        Platforma catalog online
    </h4>
    <h3>
        Date personale
    </h3>
</div>


<div class="image">
    <img id="image" src="./assets/poli_student.jpg">
</div>


<div class="warning">
    &#9432; Pentru a încărca modificările, nu uitați să salvați!
</div>




<div class="container">
    <form method="POST" action="http://localhost:8082/user/putData" enctype="multipart/form-data" id="loginForm">
        <table>
          <tr>
            <td align="right">CNP:</td>
            <td align="left"><input type="text" name="first" /></td>
          </tr>
          <tr>
            <td align="right">Număr de telefon:</td>
            <td align="left"><input type="text" name="last" /></td>
          </tr>
          <tr>
            <td align="right">Data nașterii:</td>
            <td align="left"><input type="text" name="email" /></td>
          </tr>
          <tr>
            <td align="right">IBAN:</td>
            <td align="left"><input type="text" name="email" /></td>
          </tr>
          <tr>
            <td align="right">Studii anterioare:</td>
            <td align="left"><input type="text" name="email" /></td>
          </tr>
          <tr>
            <td align="right">Cămin:</td>
            <td align="left"><input type="text" name="email" /></td>
          </tr>
          <tr>
            <td align="right">Cameră</td>
            <td align="left"><input type="text" name="email" /></td>
          </tr>
        </table>
      </form>

</div>




    <img id="image_stud" src="./assets/student_profile.png">

