@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

body {
	font-family: 'Lato', sans-serif;
  	background-image: linear-gradient(to top, #0000ff 0%, #00ffff 100%);
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	min-height: 100vh;
  	margin: 0;
  	padding: 0;
}

#image1 {
    	position:absolute;
    	right:0;
   	bottom:0;
	top:0;
	height: 100%;
}


.header {
	padding: 60px;
  	text-align: center;
  	color: white;
  	font-size: 20px;
	margin-right: 450px;
}