<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./login.css">
    <title>
        StudentPlatform
    </title>
</head>
<body>


<img id="logo" src="poli3.jpg">

<div>
    <form action="/action_page.php">

        <input type="text" id="fname" name="firstname" placeholder="Adresă E-Mail">
        <input type="text" id="lname" name="lastname" placeholder="Parolă">

        <button onClick="location.href='login_success.html'" type="button">Login</button>
        <a href="#">Schimbă parola</a>
    </form>
</div>


</body>
</html>
